<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Atzera</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" width="270">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Eguna / Día</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d6">
          <span class="day">6</span> Igandea / Domingo
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d7">
          <span class="day">7</span> Astelehena / Lunes
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d8">
          <span class="day">8</span> Asteartea / Martes
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d9">
          <span class="day">9</span> Asteazkena / Miércoles
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d10">
          <span class="day">10</span> Osteguna / Jueves
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d11">
          <span class="day">11</span> Ostirala / Viernes
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d12">
          <span class="day">12</span> Larunbata / Sábado
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d13">
          <span class="day">13</span> Igandea / Domingo
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/d14">
          <span class="day">14</span> Astelehena / Lunes
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right" width="270">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Informazioa</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/reach">
          Nola heldu / Cómo llegar
          <i class="icon ion-map"></i>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right">
        <a class="item-content" href="#" onclick="window.open('https://www.youtube.com/watch?v=Rk7cOqWZtVY', '_system'); return false;">
          Abestia / Canción
          <i class="icon ion-music-note"></i>
        </a>
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-right" href="#/app/about">
          Honi buruz / Sobre esto
          <i class="icon ion-beaker"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
