<ion-view title="Gora Iruñea!">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-ios7-information"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list" id="transport">
  
    <div class="item item-divider">
      Nabarreriatik / Desde navarrería
    </div>
    <a class="item item-icon-right" href="#" onclick="window.open('https://maps.google.es/maps?saddr=Plaza+Consistorial,+Pamplona&daddr=42.818542,-1.6445701+to:Jai+Gune+%4042.822004,-1.644924&hl=es&sll=42.819227,-1.645385&sspn=0.007634,0.016501&geocode=FVFajQIdqOrm_ym_4dHQ-5JQDTHshG9CJpDG0g%3BFe5bjQId5ufm_ykD5y4y-pJQDTHdA6S5cydyjQ%3BFXRpjQIdhObm_w&t=h&dirflg=w&mra=dpe&mrsp=1&sz=17&via=1&z=17', '_system'); return false;">
      Google Maps ireki / abrir
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

    <div class="item item-divider">
      Udaletxetik / Desde el ayuntamiento
    </div>
    <a class="item item-icon-right" href="#" onclick="window.open('https://maps.google.es/maps?saddr=Calle+Navarrer%C3%ADa+17,+Pamplona%2FIru%C3%B1a&daddr=Jai+Gune+%4042.822004,-1.644924&hl=es&ie=UTF8&sll=42.821034,-1.643627&sspn=0.005398,0.00825&geocode=FQxfjQId0e3m_ym13mmU-5JQDTF9cgRwBZjfRg%3BFXRpjQIdhObm_w&t=h&dirflg=w&mra=ls&z=18', '_system'); return false;">
      Google Maps ireki / abrir
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

  </div>
  </ion-content>
</ion-view>
